# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
terraform.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Ansible
*.retry

# Python / general
__pycache__/
*.pyc

# OS
.DS_Store
